
<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="content-block">
			<h2>Hi NovaWulf Team,</h2>
		</td>
  </tr>
	<tr>
		<td class="content-block">
			Here are the trades and positions on <%= @run_date.strftime('%A, %b %-d') %>
		</td>
  </tr>
	<tr>
		<td class="content-block">
			<h3>Trades</h3>
		</td>
  </tr>

	<% if @trades.present? %>
		<% if @approval_email %>
			<tr>
				<td class="content-block">
					<%= mail_to "accounting@novawulf.io", "Approve Trades", subject: "Trade Approval", body: "#{@to_add} approves the following trades at the time this email is received:\n #{@trades.join("\n")}", class: "btn-primary"  %>
					<%= mail_to "accounting@novawulf.io", "Reject Trades", subject: "Trade Rejection", body: "#{@to_add} rejects the following trades at the time this email is received:\n #{@trades.join("\n")}", class: "btn-danger"  %>
				</td>
			</tr>
		<% end %>
		<% @trades.map do |text_line| %>
			<tr>
				<td class="content-block">
					<%= text_line %>
				</td>
			</tr>
		<% end %>	
	<% else %>
		<tr>
			<td class="content-block">No trades data was available for this day.</td>
  	</tr>
	<% end %>

	<tr>
		<td class="content-block">
			<h3>P&L by Strategy</h3>
			<i>All values in $k</i>
		</td>
  </tr>
	
	<tr>
		<td class="content-block">
			<% if @positions.present? %>
				<table width="100%" cellpadding="0" cellspacing="0" >
					<tr >
						<td class="content-block" ><u><b>Strategy</b></u></td>
						<td class="content-block"><u><b>Daily P&L</b></u></td>
						<td class="content-block"><u><b>MTD P&L</b></u></td>
						<td class="content-block"><u><b>YTD P&L</b></u></td>
					</tr>
					<% first = true %>
					<% @positions.map do |position| %>
						<% if first %>
							<tr style='font-weight:bold'>
							<% first = false%>
						<% else %>
							<tr>
						<% end %>					
							<% position.map do |cell| %>
								<% 
								td_class = "content-block"
									negative = cell.starts_with?("(")
									if negative
										td_class = "content-block negative"				
									end
								%>

								<% if first %>
									<td class="content-block">
										<b><%= cell %></b>
									</td>
									<% first = false%>
								<% else %>
									<td class="<%= td_class %>">
										<%= cell %>
									</td>
								<% end %>
							<% end %>	
						</tr>
					<% end %>	
				</table>
			<% else %>
				No positions data was available for this day.
			<% end %>
		</td>
  </tr>

	<% if @winners.present? %>
		<%= render "winner_partial", title: "Daily Winners", rows: @winners[:daily_winners] %>
		<%= render "winner_partial", title: "Daily Losers", rows: @winners[:daily_losers] %>
		<%= render "winner_partial", title: "MTD Winners", rows: @winners[:mtd_winners] %>
		<%= render "winner_partial", title: "MTD Losers", rows: @winners[:mtd_losers] %>
		<%= render "winner_partial", title: "YTD Winners", rows: @winners[:ytd_winners] %>
		<%= render "winner_partial", title: "YTD Losers", rows: @winners[:ytd_losers] %>		
	<% end %>

	<tr>
		<td class="content-block">
			Thanks,<br/>NovaWulf Dashboard
		</td>
	</tr>
</table>
